@*@{
    layout = "~/views/shared/_layout.cshtml";
}*@


@{
    ViewBag.Title = "WAAAZZAAAAAAAAAAAAAAAAAAAAAAAAAAAA";
}

<h2>Sup' girlllzz</h2>

<p>Hello from our View Template, in the helloworld controler !</p>