@{
    ViewBag.Title = "A propos...";
}
<h2>@ViewBag.Title.</h2>

<p>Bienvenue sur Los Barcos ! Ceci est un site de présentation de bateaux. Vous y trouverez différents types de bateaux envoyés par nos utilisateurs. Si vous souhaitez vous aussi ajouter des bateaux dans la base, veuillez vous enregistrer puis vous connecter. .</p>
