@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Rubén Padilla 509 <br />
    Valle del Guadiana <br />
    34166 Durango, Dgo. <br />
    Mexico <br />
    <abbr title="Téléphone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@losbarcos.mex">Support@losbarcos.mex</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@losbarcos.mex">Marketing@losbarcos.mex</a>
</address>