@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Los barcos</h1>
    <p class="lead">Bienvenue sur ce site d'exposition de bateaux.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Intro</h2>
        <p>
            Bienvenue sur Los Barcos ! Ceci est un site de présentation de bateaux. Vous y trouverez différents types de bateaux envoyés par nos utilisateurs.
            Si vous souhaitez vous aussi ajouter des bateaux dans la base, veuillez vous enregistrer puis vous connecter.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Liste de bateaux</h2>
        <p>Vous pouvez voir nos différents bateaux en exposition.</p>
        <div class="btn btn-default">@Html.ActionLink("Liste de bateaux", "Index", "Bateaux")</div>
    </div>
</div>